* {
  font-family: "Source Sans Pro", sans-serif;
}

/* .card {
  margin-top: 10vh;
  height: 150px;
  width: 50vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
} */

/* .col-sm-3 {
  display: block;
  padding-left: -1vh;
  padding-right: 20vh;
  justify-content: center;
} */

/* .card-footer {
  background-color: rgb(63, 177, 63);
}

.card-deck {
  margin-top: 30px;
} */

.chart {
  margin-top: 190px;
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.chartTitle {
  margin-bottom: 20px;
}

.topbar {
  width: 100%;
  height: 100%;
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: green;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.home {
  flex: 3;
}

.featured {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.featuredItem {
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 15px -10px rgba(44, 241, 44, 0.75);
  box-shadow: 10px 10px 15px -10px rgba(13, 207, 13, 0.75);
}

.featuredTitle {
  font-size: 20px;
}

.featuredMoneyContainer {
  margin: 10px 0px;
  display: flex;
  align-items: center;
}

.featuredMoney {
  font-size: 30px;
  font-weight: bold;
}

.featuredMoneyRate {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
