.imaged2 {
  z-index: -1 !important;
  height: 100%;
  width: 100%;
  margin-left: -9.5%;
  margin-right: 0%;
  padding: 0px;
  overflow-x: hidden;
  position: fixed;
}

/* .col-sm {
  margin-left: 350px;
  margin-top: 95px;
} */

.SignupCard {
  width: 25rem;
  height: 28rem;
  z-index: 5 !important;
}

.card-header-signup {
  background-color: green;
  color: white;
  text-align: center;
  padding: 0.6rem;
}

.signup_ref .link_color {
  color: green;
}

